/************************************
** テキストにライン（下線）を引く
** 本文　【<strong class="marker">強調します</strong>】
** 注意文【<strong class="marker_c ">強調します</strong>】
**
************************************/
strong.marker {
  background-image: linear-gradient(transparent 60%, #feb5c9 50%);
  font-weight: bold;
  padding: 0 5px;
}

strong.marker_c {
  background-image: linear-gradient(transparent 60%, rgba(254, 181, 201, 0.45) 50%);
  padding: 0 1px;
}

/************************************
** マージンの調整用
** 全てのマージンを消す【<p class="m0">全てのマージン</p>】
** 下部のマージンを削す【<p class="mb0 ">下部のマージン</p>】
** 上部のマージンを消す【<p class="mt0 ">上部のマージン</p>】
**
************************************/
#seminar_form .m0 {
  margin: 0;
}

#seminar_form .mb0 {
  margin-bottom: 0;
}

#seminar_form .mt0 {
  margin-top: 0;
}

/************************************
** テキストの整列
** 左揃えにする　【<p class="left_align">左揃え</p>】
** 右揃えにする　【<p class="right_align">右揃え</p>】
** 中央揃えにする【<p class="center_align">中央揃え</p>】
************************************/
#seminar_form .left_align {
  text-align: left;
}

#seminar_form .right_align {
  text-align: right;
}

#seminar_form .center_align {
  text-align: center;
}

/************************************
** テキストのサイズ
** 極小　　【<p class="tiny_font">極小（8px）</p>】
** 小さい　【<p class="small_font">小さい（12px）</p>】
** 通常　　【<p class="medium_font">通常（16px）</p>】
** 大きい　【<p class="large_font">大きい（24px）</p>】
** 極大　　【<p class="enormous_font">極大（32px）</p>】
************************************/
#seminar_form .tiny_font {
  font-size: 8px;
}

#seminar_form .small_font {
  font-size: 12px;
}

#seminar_form .medium_font {
  font-size: 16px;
}

#seminar_form .large_font {
  font-size: 24px;
}

#seminar_form .enormous_font {
  font-size: 32px;
}

/************************************
** テキストに色を付ける（Materializeから抜粋）
** https://materializecss.com/color.html
** 背景色を付ける　【<div class="teal lighten-2">This is a teal lighten-2 class</div>】
** 文字色を付ける　【<p class="blue-text text-darken-2">This is dark blue text</p>】
**
************************************/
/*@import url('https://wineak.github.io/sskc/wf/userSeminarPage/materialize.css');*/

/************************************
** その他
**
************************************/
/* 新規にタイトルを作成 */
.wgt-heading__inner {
  display: none;
}

#breadcrumb,
.second_mv.second_mv04 {
  display: none;
}

.wgt-heading__inner_sub {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 190px;
  /*border-bottom: 1px solid #d4d1cf;*/
  text-align: center;
}

/* タイトルの調整 */
.hero-text > span {
  line-height: 1;
}

/* パノラマ */
.tour {
  margin-top: 10px;
  max-width: 518px;
}

.tour p {
  text-align: left;
  padding: 5px 0;
  color: #777;
  font-size: 11px;
}

div#pano {
  width: 100%;
  height: 180px
}

/* 各種微調整 */
#seminar_form a {
  color: #00496D;
  text-decoration: underline;
}

/*
#seminar_form a:visited {
  color: #6A1435;
}
*/

#seminar_form p {
  margin: 1em;
}

#seminar_form dl {
  margin: 0;
}

#seminar_form ul {
  margin: 1em;
  margin-left: 2em;
}

#seminar_form table ul {
  margin: 1em;
  margin-left: 1em;
}

#seminar_form li {
  list-style: disc;
}

#seminar_form table {
  border-top-style: none;
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
}

#seminar_form table th {
  width: 200px;
}

#seminar_form table p {
  margin-left: 0;
  margin-right: 0;
}

#seminar_form hr {
  display: block;
  border: 0;
  height: 0;
  border-bottom: 1px solid #DCDCDC;
}

article.resp li:first-child input {
  margin-right: 15px;
  width: 145px;
}

article.resp li:first-child span {
  font-size: 0;
}

@media screen and (max-width: 768px) {
  article.resp li:first-child .span_9>span {
    display: block;
  }
}

/* 「問い合わせ先」用 */
#seminar_form .table-header:first-child {
  font-weight: normal;
  border-bottom: none;
}

/* フォーム内のタイトル非表示 */
.wgt-form__heading {
  display: none;
}

/* 余分なスペースを削除 */
.base-page {
  font-size: 0;
}

.base-page>* {
  font-size: 1rem;
}

/* 文字色 */
/*
html, table th, table td {
  color: #2a2a2a;
}
*/

/* Zoom */
div.zoom {
  color: #abb2bf;
  background: #282c34;
  margin: 1em 0px;
  padding: 0.3em;
  font-size: 1em;
  display: block;
  text-align: center;
}

div.zoom br {
  display: none;
}

/************************************
** モバイル対応
**
************************************/
@media screen and (max-width: 768px) {

  /* brタグを無効化 */
  #seminar_form br {
    display: none;
  }

  /* パノラマをモバイル向けに調整 */
  .tour {
    max-width: 100%
  }

  div#pano {
    width: 100%;
    height: 100%;
  }

  iframe.pano {
    width: 100%;
    height: 100%;
  }

  /* テーブルをモバイル向けに調整 */
  #seminar_form table,
  #seminar_form table th,
  #seminar_form table td {
    border: none;
  }

  #seminar_form table th,
  #seminar_form table td {
    display: block;
    width: 100%;
  }

  #seminar_form table th {
    background: #d0d0d0;
  }

  #seminar_form table th.header,
  #seminar_form table th.table-header {
    background: #fff;
  }

  #seminar_form table td.header,
  #seminar_form table td.table-header {
    padding: 0;
  }

  /* その他モバイル向けに調整 */
  #seminar_form {
    margin-right: 20px;
  }

  #seminar_form iframe.googlemap {
    width: 100%;
  }
}

/************************************
** UIのデザイン
**
************************************/
/* チェックボックス・ラジオボタン */
article.resp input[type="checkbox"],
article.resp input[type="radio"] {
  background: #fff;
  outline: 0;
  vertical-align: middle;
}

/* ラジオボタン */
article.resp input[type="radio"] {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  margin-right: 0.5rem;
  border: 1px solid #d4d1cf;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

article.resp input[type="radio"]::before {
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: '';
  background: #80a34a;
  border-radius: 50%;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

article.resp input[type="radio"]:checked::before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/************************************
** 項目必須＆入力時のフォーカス
**
************************************/
article.resp form li.clr label.col.span_3,
article.resp form li.clr div.col.span_9 {
  width: 100%;
  margin: 4px 0 0 40px;
  padding-right: 80px;
}

article.resp form li label.span_3.required {
  position: relative;
}

.required::before {
  position: absolute;
  top: 0;
  left: -40px;
  content: "必須";
  background: rgba(201, 36, 47, 0.1);
  color: #c9242f;
  font-size: 12px;
  padding: 2px 5px;
  margin-right: 5px;
}

@media screen and (max-width: 48em) {
  .required::before {
    top: -5px;
  }
}

article.resp form li.clr label.col.span_3.required:after {
  content: "";
}

/* フォーカス周り */
article.resp input,
article.resp textarea,
article.resp select {
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  transition-property: box-shadow;
}

article.resp input:focus,
article.resp textarea:focus,
article.resp select:focus {
  box-shadow: 0 0 8px #c5c5c5;
}

article.resp .required+.input input,
article.resp .required+.input textarea,
article.resp .required+div.col.span_9 select {
  border-color: #c9242f;
}

article.resp .required+.input input:focus,
article.resp .required+.input textarea:focus,
article.resp .required+.input select:focus {
  box-shadow: 0 0 8px #c9242f;
}

.wgt-form input[type="checkbox"]:checked:after {
  width: 6px;
  height: 12px;
}

article.resp .required+.input input[type="checkbox"]:checked:after {
  border-color: #c9242f;
}

article.resp .required+.input input[type="radio"]::before {
  background: #c9242f;
}

/************************************
** Bug Fixed
**
************************************/
/* 以前の矢印を非表示 */
.btn-arrow::before,
.btn-arrow::after {
  display: none;
}

/* 新たに矢印を作成（対象を.btn-arrowから.btn-arrow aに変更） */
.btn-arrow a::before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-color: #fff;
  border: solid 1px #80B13F;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
}

.btn-arrow a:hover::before {
  background-color: #80B13F;
}

.btn-arrow a::after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  right: 23px;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  border-right: 1px solid #80B13F;
  border-bottom: 1px solid #80B13F;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn-arrow a:hover::after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/************************************
** CSS hack
**
************************************/
/* IE10以下 */
article.resp input[type="checkbox"],
article.resp input[type="radio"] {
  border: none\9;
}

/* Edge*/
@supports (-ms-ime-align: auto) {
  article.resp input[type="checkbox"],
  article.resp input[type="radio"] {
    border: none;
  }
}